@import "reset.css";
//@import 'media-queries.scss';

$white:#fff;
$orange: #ff8809; 
$orangeDark: #ff7400;
$gray: #939393;
$BorderUl: #292929;


$mobile-small:   240px;
$mobile-large:   320px;
$tablet-small:   480px;
$tablet-large:	 768px;
$screen-small:	 1024px;
$screen-large:	 1280px;


@mixin transition-width() {
           -webkit-transition: max-width .3s ease;
            -moz-transition: max-width .3s ease;
            -o-transition: max-width .3s ease;
            transition: max-width .3s ease;
}

@mixin bg-size(){
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content{   
    width: auto;
    min-height: 1183px;
    background: url(../img/background.jpg) no-repeat center center; 
    @include bg-size;
}

/*typografy*/
@font-face {
  font-family:'Fangtasia';
  src: url('Fangtasia.ttf');
}
@font-face {
  font-family: 'Helvetica';
  src: url(helvetica-bold.ttf);
}

a{
    text-decoration: none;  
    font-size: 13pt;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;    
    text-shadow: -2px 3px 2px rgba(150, 150, 150, 1);
    color: $white;
    &:hover{
        color: $orangeDark;
        text-shadow: none;
    }
}

b{  
    color: $white;
    font-weight: bold;
    font-size: 13pt;
    font-family: Helvetica,sans-serif;
    padding-left: 10px;
}



p, #custom-caption{
     font-size: 11pt;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
     color: $white;
    line-height: 1.5;
}
h2 {
    font-size: 24pt;
    font-family: "Helvetica", sans-serif;
    font-style: bold;
    color: $white;
    text-transform: uppercase;
    padding-bottom: 20px;
    }

h3 {
            
    font-size: 11pt;
    font-family: "Helvetica", sans-serif;
    font-style: bold;
    color: $white;
    padding: 10px 1px;
}


.orange {
        color:$orange;
}
    

/* Orande logo*/
.logo {
    font-family: Fangtasia;
    font-size: 80pt;
    color: $white;
    padding-top: 10px;
    text-align: center;
    text-shadow: -2px 3px 2px rgba(150, 150, 150, 1);
}

/*navigation & drop-down menu*/
nav{ 
    height: 53px;
    max-width: 600px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    
    .hover{
        
        .top_menu{
            position: absolute;
            z-index: 45465465;
            width: 475px;
            height: 219px;
            background: url(../img/drop_down.png) no-repeat;
            padding-top: 20px;                    
 
             ul {
                 float: left;
                 border-right: 1px solid $BorderUl;               
                  &:last-child{
                     border: none;
                     }
                 li{
                     clear: both;
                     line-height: 1.5;
                     a {
                         text-shadow: none;
                         font-size: 11pt;
                     }
                    }
             } 
            }// end .top_menu
        
    float: left;
        li {
            float: left;
             padding: 0 15px 0 10px;
        }
    }
    
} //end <nav>

/*drop down*/
nav ul .top_menu {
	display: none;
}

	nav ul li:hover > .top_menu {
		display: block;
}



/* jQuery slideshow */
.slide {    
    max-width: 980px;
    max-height: 451px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    position: relative;
   

    .rslides {
      position: relative;
      list-style: none;
      overflow: hidden;
      width: 100%;
      padding: 0;
      margin: 0;
       

        li{
      -webkit-backface-visibility: hidden;
      position: absolute;
      display: none;
      width: 100%;
      left: 0;
      top: 0;
        
                &:first-child {
                  position: relative;
                  display: block;
                  float: left;
                  }
      }

    

    img {
      padding-left: 50px;
      display: block;
      height: auto;
      float: left;
      width: 100%;
      border: 0;
      }

}
    
    .visit{
        width: 145px;
        height: 32px;
        position: absolute;
        left: 0;
        bottom: 10px;
        cursor: pointer;
        z-index: 2;
        background: url(../img/visit_site.png) no-repeat 0 0;
         &:hover{             
            background: url(../img/visit_site.png) no-repeat 0 -32px;
            }
    }
    /*slideshov navigation*/
    .next{
        float: left;
        margin-right: 9px;
        width: 20px;
        height: 24px;
        background: url(../img/btn.png) no-repeat -20px 0;
        cursor: pointer;
        &:hover{
            background: url(../img/btn.png) no-repeat -20px -24px;
        }
    } 
    .prev {
        float: left;
        margin-right: 9px;
        width: 20px;
        height: 24px;
        background: url(../img/btn.png) no-repeat 0 0;
        cursor: pointer;
        &:hover{
            background: url(../img/btn.png) no-repeat 0 -24px;
        }
    }
    
    .countSlide{
        position: absolute;
        left:55px;
        width: 130px;
    }
    
   
} 


 /*@media screen and (max-width: $screen-small) {            
        
           .visit, .prev, .countSlide{
               margin-left: 20px;
           }
        
            
    }*/



/*content grid*/
.container_16{    
@extend .clear;
max-width: 980px;
margin-left: auto;
margin-right: auto;
       
   
        .grid_4{
            min-height: 250px;
            max-height: 250px;
            overflow: hidden;
            width: 218px;
            float: left;
            margin: 25px 35px 55px 0;            
                &:last-child {
                   margin-right: 0;
                }  
            
                
            img{
                width: 218px;
                height: 145px;
                position: relative; 
                
                 &:hover{    
                            opacity: 0.8;
                        }
                
            }                
                        
        }
    
}

/* clear float*/
.clear{
    clear: both;
}

.border_t{
    width: auto;
    height: 3px;
    max-width: 980px;
    margin: 0 auto;
}

.border_1{
    @extend .border_t;
    background: url(../img/border_1.jpg) repeat-x;
}
.border_2{
    @extend .border_t;
    background: url(../img/border_2.jpg);
}

.border_3{
    @extend .border_t;
    background: url(../img/border_3.jpg);
}

/*footer*/
footer {
height: 727px;
width: auto;
background: url(../img/gradient.jpg) repeat; 
    
    .border{
        width: 100%;
        height: 13px;
        background: url(../img/border.jpg) repeat-x;    
    }
    .centred{
        max-width: 980px;
        width: auto;
        height: auto;
        margin: 0 auto;               
    }
        
    .article{
        width: 356px;
        height: auto;
        padding: 65px 55px 0 0;        
        float: left;
    }
    
    .captions{
        display: table;
        width: 565px;
        height: auto;
        padding: 65px 0 0 0;
        position: relative;
        
        .absolute-orange{
            width: 233px;
            height: 170px;
            background: url(../img/orange_footer.png) no-repeat;
            position: absolute;
            right: 0;
            top: -50px;  
        }
         .glass{
          width:73px ;
          height: 63px;
          background: url(../img/glass.jpg) no-repeat;
          border: 4px solid $orangeDark;
          margin: 15px 20px 22px 0;
          //float: left;
              &:last-child{
                  clear: both;
              }
        }
        
        // tooltipe
        .tooltip{
            display: inline;
            position: relative;
            
                &:hover:after{                    
                    bottom: -20px;
                    color: $gray;
                    content: attr(title);
                    left: 0;
                    position: absolute;
                    z-index: 98;
                    width: 220px;
                }
                // arrow
                &:hover:before{
                    position: absolute;
                    content: "";
                    left: 8px;
                    bottom: 19px;
                    width: 0; 
                    height: 0; 
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;	
                    border-top: 8px solid $orangeDark;
                
                }
        }
                
    }    
    

    
}

/*Fancybox close*/

.fancybox-close{
    position: absolute;
    top: 18px;
    right: 18px;
    width: 89px;
    height: 32px;
    cursor: pointer;
    z-index: 856767676767040;
    background: url(../img/video-close.png) no-repeat;
    
}


 @media screen and (max-width: $screen-small) {            
        
     .slide, 
     .container_16, 
     .centred {
            max-width: $tablet-large;
         
                 .article,.captions{
                     width: 80%;
                     padding: 40px;
                 }
                 .grid_4{
                     text-align: center;
                     width: 50%;
                     margin: 25px 0 50px 0;             
                 img{
                     width: 85%;
                     height: 30%;
                 }
             
                 p {
                     display: none;
                 }
                 }
         
     }
     
  }


 @media screen and (max-width: $tablet-large) {
           
         .slide, 
         .container_16, 
         .centred {
             max-width: $tablet-small;
             
             .grid_4{
                 width: 100%;
             }
         }
        nav{ 
            
            z-index: 7897799;
            li{                  
                clear: both;
            }
            //display: none;
        }
     
     .border_2{
         display: none;
     } .border_3{
         display: none;
     }
     
 }

    

    