@import "reset.css";

$white:#fff;
$orange: #ff8809; 
$orangeDark: #ff7400;
$gray: #939393;
$BorderUl: #292929;


$mobile-small:  240;
$mobile-large:  320;
$tablet-small:  480;
$tablet-large:	768;
$screen-small:	1024;
$screen-large:	1280;



.content{   
    width: auto;
    min-height: 1183px;
    background: url(../img/background.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*typografy*/
@font-face {
  font-family: 'Fangtasia';
  src: url('http://www.fontsaddict.com/fontface/fangtasia.ttf');
}
@font-face {
  font-family: 'Helvetica';
  src: url(helvetica-bold.ttf);
}

a{
    text-decoration: none;  
    font-size: 13pt;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    padding: 10px;
    text-shadow: -2px 3px 2px rgba(150, 150, 150, 1);
    color: $white;
    &:hover{
        color: $orangeDark;
        text-shadow: none;
    }
}

b{  
    color: $white;
    font-weight: bold;
    font-size: 13pt;
    font-family: Helvetica,sans-serif;
    padding-left: 10px;
}



p, #custom-caption{
     font-size: 11pt;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
     color: $white;
    line-height: 1.5;
}
h2 {
    font-size: 24pt;
    font-family: "Helvetica", sans-serif;
    font-style: bold;
    color: $white;
    text-transform: uppercase;
    padding-bottom: 20px;
    }

h3 {
            
    font-size: 11pt;
    font-family: "Helvetica", sans-serif;
    font-style: bold;
    color: $white;
    padding: 10px 1px;
}


.orange {
        color:$orange;
}
    
.signature{
        color:$gray;
        clear: both;
}

/* Orande logo*/
.logo {
    font-family: Fangtasia;
    font-size: 80pt;
    color: $white;
    text-align: center;
    text-shadow: -2px 3px 2px rgba(150, 150, 150, 1);
}

/*navigation & drop-down menu*/
nav{         
    height: 53px;
    width: 600px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;  
    
    .hover{
        
        .top_menu{
            position: absolute;
            z-index: 45465465;
            width: 475px;
            height: 219px;
            background: url(../img/drop_down.png) no-repeat;
            padding-top: 20px;                    
 
             ul {
                 float: left;
                 border-right: 1px solid $BorderUl;               
                  &:last-child{
                     border: none;
                     }
                 li{
                     clear: both;
                     line-height: 1.5;                     
                     a {
                         text-shadow: none;
                         font-size: 11pt;
                     }
                    }
             } 
            }// end .top_menu
        
    float: left;
        li {
            float: left;
        }
    }
    
} //end <nav>

/*drop down*/
nav ul .top_menu {
	display: none;
}

	nav ul li:hover > .top_menu {
		display: block;
}



/* jQuery slideshow*/
.slide {
max-width: 980px;
    height: 451px;
    margin-left: auto;
    margin-right: auto;    
    img{
    padding-left: 50px;
    }
    
    .visit{
        width: 145px;
        height: 32px;
        position: absolute;
        left: 0;
        bottom: 20px;
        cursor: pointer;
        z-index: 2;
        background: url(../img/visit_site.png) no-repeat 0 0;
         /*&:hover{             
            background: url(../img/visit_site.png) no-repeat 0 -32px;
            }*/
    }
    /*slideshov navigation*/
    .cycle-next{
        float: left;
        margin-right: 9px;
        width: 20px;
        height: 24px;
        background: url(../img/btn.png) no-repeat -20px 0;
        cursor: pointer;
        &:hover{
            background: url(../img/btn.png) no-repeat -20px -24px;
        }
    } 
    .cycle-prev {
        float: left;
        margin-right: 9px;
        width: 20px;
        height: 24px;
        background: url(../img/btn.png) no-repeat 0 0;
        cursor: pointer;
        &:hover{
            background: url(../img/btn.png) no-repeat 0 -24px;
        }
    }
}


/*content grid*/
.container_16{
@extend .clear;
max-width: 980px;
margin-left: auto;
margin-right: auto;
   
        .grid_4{
            height: auto;
            width: 218px;
            float: left;
            margin: 25px 35px 55px 0;            
                &:last-child {
                   margin-right: 0;
                }            
                .img{
                    width: 218px;
                    height: 145px;
                    background: url(../img/gradient.jpg);    
                    position: relative;                    
                        .plus{
                            display: block;
                            width: 21px;
                            height: 22px;              
                            background: url(../img/plus.png) no-repeat;
                            margin: auto;
                            position: absolute;
                            top: 0; left: 0; bottom: 0; right: 0;
                        }
                }
            
            
                        
        }
    
}

/* clear float*/
.clear{
    clear: both;
}

.border_t{
    width: auto;
    height: 3px;
    max-width: 980px;
    margin: 0 auto;
}

.border_1{
    @extend .border_t;
    background: url(../img/border_1.jpg) repeat-x;
}
.border_2{
    @extend .border_t;
    background: url(../img/border_2.jpg);
}

.border_3{
    @extend .border_t;
    background: url(../img/border_3.jpg);
}

/*footer*/
footer {
height: 727px;
width: auto;
background: url(../img/gradient.jpg) repeat; 
    
    .border{
        width: 100%;
        height: 13px;
        background: url(../img/border.jpg) repeat-x;    
    }
    .centred{
        max-width: 980px;
        height: auto;
        margin: 0 auto;
    }
        
    .article{
        width: 356px;
        height: auto;
        padding: 65px 55px 0 0;        
        float: left;
    }
    
    .captions{
        display: table;
        width: 565px;
        height: auto;
        padding: 65px 0 0 0;
        position: relative;
        
        .absolute-orange{
            width: 233px;
            height: 170px;
            background: url(../img/orange_footer.png) no-repeat;
            position: absolute;
            right: 0;
            top: -50px;  
        }
         .glass{
          width:73px ;
          height: 63px;
          background: url(../img/glass.jpg) no-repeat;
          border: 4px solid $orangeDark;
          margin: 15px 20px 22px 0;
          float: left;
              &:last-child{
                  clear: both;
              }
        }
    }
    
}


    