@import url(reset.css);
.content {
  width: auto;
  min-height: 1183px;
  background: url(../img/background.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/*typografy*/
@font-face {
  font-family: 'Fangtasia';
  src: url("http://www.fontsaddict.com/fontface/fangtasia.ttf"); }
@font-face {
  font-family: 'Helvetica';
  src: url(helvetica-bold.ttf); }
a {
  text-decoration: none;
  font-size: 13pt;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  text-shadow: -2px 3px 2px #969696;
  color: #fff; }
  a:hover {
    color: #ff7400;
    text-shadow: none; }

b {
  color: #fff;
  font-weight: bold;
  font-size: 13pt;
  font-family: Helvetica,sans-serif;
  padding-left: 10px; }

p, #custom-caption {
  font-size: 11pt;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #fff;
  line-height: 1.5; }

h2 {
  font-size: 24pt;
  font-family: "Helvetica", sans-serif;
  font-style: bold;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 20px; }

h3 {
  font-size: 11pt;
  font-family: "Helvetica", sans-serif;
  font-style: bold;
  color: #fff;
  padding: 10px 1px; }

.orange {
  color: #ff8809; }

/* Orande logo*/
.logo {
  font-family: Fangtasia;
  font-size: 80pt;
  color: #fff;
  text-align: center;
  text-shadow: -2px 3px 2px #969696; }

/*navigation & drop-down menu*/
nav {
  height: 53px;
  max-width: 600px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  nav .hover {
    float: left; }
    nav .hover .top_menu {
      position: absolute;
      z-index: 45465465;
      width: 475px;
      height: 219px;
      background: url(../img/drop_down.png) no-repeat;
      padding-top: 20px; }
      nav .hover .top_menu ul {
        float: left;
        border-right: 1px solid #292929; }
        nav .hover .top_menu ul:last-child {
          border: none; }
        nav .hover .top_menu ul li {
          clear: both;
          line-height: 1.5; }
          nav .hover .top_menu ul li a {
            text-shadow: none;
            font-size: 11pt; }
    nav .hover li {
      float: left;
      padding: 0 10px 0 10px; }

/*drop down*/
nav ul .top_menu {
  display: none; }

nav ul li:hover > .top_menu {
  display: block; }

/* jQuery slideshow */
.slide {
  max-width: 980px;
  max-height: 451px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  position: relative;
  /*slideshov navigation*/ }
  .slide .rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0; }
    .slide .rslides li {
      -webkit-backface-visibility: hidden;
      position: absolute;
      display: none;
      width: 100%;
      left: 0;
      top: 0; }
      .slide .rslides li:first-child {
        position: relative;
        display: block;
        float: left; }
    .slide .rslides img {
      padding-left: 50px;
      display: block;
      height: auto;
      float: left;
      width: 100%;
      border: 0; }
  .slide .visit {
    width: 145px;
    height: 32px;
    position: absolute;
    left: 0;
    bottom: 10px;
    cursor: pointer;
    z-index: 2;
    background: url(../img/visit_site.png) no-repeat 0 0; }
    .slide .visit:hover {
      background: url(../img/visit_site.png) no-repeat 0 -32px; }
  .slide .next {
    float: left;
    margin-right: 9px;
    width: 20px;
    height: 24px;
    background: url(../img/btn.png) no-repeat -20px 0;
    cursor: pointer; }
    .slide .next:hover {
      background: url(../img/btn.png) no-repeat -20px -24px; }
  .slide .prev {
    float: left;
    margin-right: 9px;
    width: 20px;
    height: 24px;
    background: url(../img/btn.png) no-repeat 0 0;
    cursor: pointer; }
    .slide .prev:hover {
      background: url(../img/btn.png) no-repeat 0 -24px; }
  .slide .countSlide {
    position: absolute;
    left: 55px;
    width: 130px; }

/*@media screen and (max-width: $screen-small) {            
       
          .visit, .prev, .countSlide{
              margin-left: 20px;
          }
       
           
   }*/
/*content grid*/
.container_16 {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto; }
  .container_16 .grid_4 {
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    width: 218px;
    float: left;
    margin: 25px 35px 55px 0; }
    .container_16 .grid_4:last-child {
      margin-right: 0; }
    .container_16 .grid_4 img {
      width: 218px;
      height: 145px;
      position: relative; }
      .container_16 .grid_4 img:hover {
        opacity: 0.8; }

/* clear float*/
.clear, .container_16 {
  clear: both; }

.border_t, .border_1, .border_2, .border_3 {
  width: auto;
  height: 3px;
  max-width: 980px;
  margin: 0 auto; }

.border_1 {
  background: url(../img/border_1.jpg) repeat-x; }

.border_2 {
  background: url(../img/border_2.jpg); }

.border_3 {
  background: url(../img/border_3.jpg); }

/*footer*/
footer {
  height: 727px;
  width: auto;
  background: url(../img/gradient.jpg) repeat; }
  footer .border {
    width: 100%;
    height: 13px;
    background: url(../img/border.jpg) repeat-x; }
  footer .centred {
    max-width: 980px;
    width: auto;
    height: auto;
    margin: 0 auto; }
  footer .article {
    width: 356px;
    height: auto;
    padding: 65px 55px 0 0;
    float: left; }
  footer .captions {
    display: table;
    width: 565px;
    height: auto;
    padding: 65px 0 0 0;
    position: relative; }
    footer .captions .absolute-orange {
      width: 233px;
      height: 170px;
      background: url(../img/orange_footer.png) no-repeat;
      position: absolute;
      right: 0;
      top: -50px; }
    footer .captions .glass {
      width: 73px;
      height: 63px;
      background: url(../img/glass.jpg) no-repeat;
      border: 4px solid #ff7400;
      margin: 15px 20px 22px 0; }
      footer .captions .glass:last-child {
        clear: both; }
    footer .captions .tooltip {
      display: inline;
      position: relative; }
      footer .captions .tooltip:hover:after {
        bottom: -20px;
        color: #939393;
        content: attr(title);
        left: 0;
        position: absolute;
        z-index: 98;
        width: 220px; }
      footer .captions .tooltip:hover:before {
        position: absolute;
        content: "";
        left: 8px;
        bottom: 19px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #ff7400; }

/*Fancybox close*/
.fancybox-close {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 89px;
  height: 32px;
  cursor: pointer;
  z-index: 856767676767040;
  background: url(../img/video-close.png) no-repeat; }

@media screen and (max-width: 1024px) {
  .slide,
  .container_16,
  .centred {
    max-width: 768px; }
    .slide .article, .slide .captions,
    .container_16 .article,
    .container_16 .captions,
    .centred .article,
    .centred .captions {
      width: 80%;
      padding: 40px; }
    .slide .grid_4,
    .container_16 .grid_4,
    .centred .grid_4 {
      text-align: center;
      width: 50%;
      margin: 25px 0 50px 0; }
      .slide .grid_4 img,
      .container_16 .grid_4 img,
      .centred .grid_4 img {
        width: 85%;
        height: 30%; }
      .slide .grid_4 p,
      .container_16 .grid_4 p,
      .centred .grid_4 p {
        display: none; } }
@media screen and (max-width: 768px) {
  .slide,
  .container_16,
  .centred {
    max-width: 480px; }
    .slide .grid_4,
    .container_16 .grid_4,
    .centred .grid_4 {
      width: 100%; }

  nav {
    z-index: 7897799; }
    nav li {
      clear: both; }

  .border_2 {
    display: none; }

  .border_3 {
    display: none; } }

/*# sourceMappingURL=style.css.map */
