@import "reset.css";

$white:#fff;
$orange: #ff8809; 
$orangeDark: #ff7400;


$mobile-small:  240;
$mobile-large:  320;
$tablet-small:  480;
$tablet-large:	768;
$screen-small:	1024;
$screen-large:	1280;



.content{
    

  
    width: auto ;
    min-height: 1183px;
    background: url(../img/background.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: 'Fangtasia';
  src: url('http://www.fontsaddict.com/fontface/fangtasia.ttf');
}

@font-face {
  font-family: 'Helvetica';
  src: url(helvetica-bold.ttf);
}

.logo {
    font-family: Fangtasia;
    font-size: 80pt;
    color: $white;
    text-align: center;
    text-shadow: -2px 3px 2px rgba(150, 150, 150, 1);
}

.navigation {


ul {
    display: block;
 padding-top: 20px;
list-style-type: none;
text-align: center;
height: 53px;
    width: 600px;
    
    margin-left: auto;
    margin-right: auto;
    
}

 li { display: inline; }

 a
{
text-decoration: none;  
font-size: 13pt;
font-family: Georgia, "Times New Roman", Times, serif;
font-style: italic;
padding: 10px;
text-shadow: -2px 3px 2px rgba(150, 150, 150, 1);
color: $white;
}

a:hover
{
color: $orangeDark;
    text-shadow: none;
}
}



  
.slide {
padding-bottom: 30px;
width: 980px;
    height: 451px;
    margin-left: auto;
    margin-right: auto;
    
    img{
    padding-left: 50px;
    }
    
    
    
    .nextSlide {
        float: left;
        width: 20px;
        height: 24px;
        background: url(../img/btn.png) no-repeat -20px 0;
        
        &:hover{
            background: url(../img/btn.png) no-repeat -20px -24px;
        }
    }
    
    
    .prevSlide {
        float: left;
        width: 20px;
        height: 24px;
        background: url(../img/btn.png) no-repeat 0 0;
        
        &:hover{
            background: url(../img/btn.png) no-repeat 0 -24px;
        }
    }
}

.container_16{
padding-top: 10px;
width: 980px;
margin-left: auto;
margin-right: auto;
   
        .grid_4{
            height: auto;
            width: 218px;
            float: left;
            margin: 25px 35px 55px 0;
            
                &:last-child {
                   margin-right: 0;
                }
            
                .img{
                    width: 218px;
                    height: 145px;
                    background: url(../img/gradient.jpg);    
                    position: relative;
                    
                        .plus{
                            display: block;
                            width: 21px;
                            height: 22px;              
                            background: url(../img/plus.png) no-repeat;
                            margin: auto;
                            position: absolute;
                      top: 0; left: 0; bottom: 0; right: 0;
                        }
                }
            
            h3 {
            
                font-size: 11pt;
                font-family: "Helvetica", sans-serif;
                font-style: bold;
                color: $white;
                padding: 10px 1px;
            }
            
            p{
                font-size: 11pt;
                    font-family: Georgia, "Times New Roman", Times, serif;
                    font-style: italic;
                   color: $white;
            }
        }
    
}

.clear{
    clear: both;
}

.border_t{
    width: auto;
    height: 3px;
    max-width: 980px;
    margin: 0 auto;
}

.border_1{
    @extend .border_t;
    background: url(../img/border_1.jpg) repeat-x;
}
.border_2{
    @extend .border_t;
    background: url(../img/border_2.jpg);
}

.border_3{
    @extend .border_t;
    background: url(../img/border_3.jpg);
}


footer {
height: 727px;
width: auto;
background: url(../img/gradient.jpg) repeat; 
}

.border{
width: 100%;
    height: 13px;
background: url(../img/border.jpg) repeat-x;    
}
    